body{
  background: rgb(163, 161, 206);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(118,118,221,1) 35%, rgba(0,212,255,1) 100%);
}
img {
  width: 100px;
  height: 130px;
}

h1 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
  color: rgb(4, 4, 68);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 370px;
  justify-content: center;
}

.container__product {
  margin: 0 auto;
  border: 1px solid black;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
}

.container__product--name {
  color: black;
  text-align: center;
  width: 100px;
  font-size: 15px;
}

@media (min-width: 830px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
  }

  .container__product--name {
    width: 200px;
    font-size: 17px;
  }
}
