body{
  background: rgb(163, 161, 206);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(118,118,221,1) 35%, rgba(0,212,255,1) 100%);
}
.container__notfound {
  display: flex;
  flex-direction: column;
}

.container__notfound--img {
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

.container__notfound--title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 70px;
  margin-top:-200px;
}

.container__notfound--text {
  font-size: 22px;
  margin: 0 auto;
  color: red;
  margin-top: 100px;
  width: 280px;
  text-align: center;
}

@media (min-width: 376px) {
  .container__notfound--title {
    font-size: 100px;
    margin-top: -350px;
  }
  .container__notfound--img {
    width: 400px;
    height: 400px;
  }

  .container__notfound--text {
    font-size: 40px;
    width: 550px;
    margin-top: 230px;
  }
}
