.header-container {
  background-image: linear-gradient(to right, rgb(39, 39, 71), rgb(216, 200, 200));
  padding: 10px;
  position: sticky;
  top: 0;
}

.header-container__list {
  list-style: none;
  display: flex;
  font-size: 30px;
  margin-bottom: 20px;
}
