* {
  margin: auto;
  top: 0;
}
.cardContainer {
  margin-top: 50px;
  border: 1px solid black;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  width: 250px;
}

@media (min-width: 376px) {
  .cardContainer {
    width: 500px;
  }
}
